<section id="experience" class="section">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">Experience the warmth and community of CoffeeJoy.</p>
    <ul class="experience-list">
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob1.jpg 1x, /img/experience-mob1-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab1.jpg 1x, /img/experience-tab1-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience1.jpg 1x, /img/experience1-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience1.jpg" alt="experience" width="416" height="416">
        </picture>

      </li>
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob2.jpg 1x, /img/experience-mob2-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab2.jpg 1x, /img/experience-tab2-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience2.jpg 1x, /img/experience2-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience2.jpg" alt="experience" width="416" height="416">
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob3.jpg 1x, /img/experience-mob3-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab3.jpg 1x, /img/experience-tab3-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience3.jpg 1x, /img/experience3-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience3.jpg" alt="experience" width="416" height="234">
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob4.jpg 1x, /img/experience-mob4-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab4.jpg 1x, /img/experience-tab4-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience4.jpg 1x, /img/experience4-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience4.jpg" alt="experience" width="416" height="234">
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob5.jpg 1x, /img/experience-mob5-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab5.jpg 1x, /img/experience-tab5-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience5.jpg 1x, /img/experience5-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience5.jpg" alt="experience" width="416" height="416">
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob6.jpg 1x, /img/experience-mob6-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab6.jpg 1x, /img/experience-tab6-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience6.jpg 1x, /img/experience6-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience6.jpg" alt="experience" width="416" height="416">
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source srcset="/img/experience-mob7.jpg 1x, /img/experience-mob7-2x.jpg 2x" media="(max-width: 767px)">
          <source srcset="/img/experience-tab7.jpg 1x, /img/experience-tab7-2x.jpg 2x" media="(max-width: 1439px)">

          <source srcset="/img/experience7.jpg 1x, /img/experience7-2x.jpg 2x" media="(min-width: 1440px)">
          <img class="welcome-img" src="/img/experience7.jpg" alt="experience" width="416" height="416">
        </picture>
      </li>
    </ul>
  </div>
</section>