<section id="experience" class="section">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">Experience the warmth and community of CoffeeJoy.</p>
    <ul class="experience-list">
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob1.jpg" alt="experience">
      </li>
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob2.jpg" alt="experience">
      </li>
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob3.jpg" alt="experience">
      </li>
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob4.jpg" alt="experience">
      </li>
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob5.jpg" alt="experience">
      </li>
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob6.jpg" alt="experience">
      </li>
      <li class="experience-item">
        <img class="experience-img" src="/img/experience-mob7.jpg" alt="experience">
      </li>
    </ul>
  </div>
</section>