<section id="quality" class="section">
  <div class="container">
    <p class="quality-subtitle">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with
      care
      by our skilled
      baristas.
      Our flexible subscription plans ensure that your coffee experience is tailored to your needs.</p>
    <ul class="quality-list">
      <li class="quality-item">
        <div class="quality-wrapper-img">
          <img class="quality-img" src="/img/quality-mob1.jpg" alt="quality">
        </div>
        <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="quality-item-text">Savor the rich flavors of our expertly sourced beans.</p>
      </li>
      <li class="quality-item">
        <div class="quality-wrapper-img">
          <img class="quality-img" src="/img/quality-mob2.jpg" alt="quality">
        </div>
        <h3 class="quality-item-title">Expert Baristas Crafting Your Perfect Brew</h3>
        <p class="quality-item-text">Our baristas are passionate about coffee and skilled in their craft.</p>
      </li>
      <li class="quality-item">
        <div class="quality-wrapper-img">
          <img class="quality-img" src="/img/quality-mob3.jpg" alt="quality">
        </div>
        <h3 class="quality-item-title">Cozy Atmosphere</h3>
        <p class="quality-item-text">We don’t just serve coffee — we create a warm and welcoming space where every cup
          feels like home.</p>
      </li>
    </ul>





  </div>
</section>