<div class="modal-overlay is-open">
  <div class="modal">
    <button class="modal-btn-close" type="button">
      <svg class="modal-close-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <h1 class="modal-title">Welcome to the world of CoffeeJoy!</h1>
      <p class="modal-text">Fresh brews, special offers, and cozy updates are coming your way.</p>
    </div>

    <div class="modal-image-wrapper">
      <img class="modal-image" src="/img/illustration-mob.jpg" alt="coffee">
    </div>

    <button class="modal-btn" type="button">Close</button>
  </div>
</div>