<section id="subscrube" class="section">
  <div class="container">
    <h2 class="subscrube-title">Join Our Coffee Community</h2>
    <p class="subscrube-text">Experience the joy of coffee delivered right to your door. Sign up today!</p>
    <form action="">
      <div class="subscrube-input-wrapper">
        <input class="subscrube-input" type="email" aria-label="email" placeholder="Your Email Here"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
        <p class="text-valid">Succes!</p>
        <p class="text-invalid">Invalid email, try again</p>
      </div>
      <button class="subscrube-btn" type="submit">Subscribe
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <p>By clicking Get Started, you agree to our Terms and Conditions.</p>
    </form>
  </div>
</section>