<div class="modal-overlay">
  <div class="modal">
    <button class="modal-btn-close" type="button">
      <svg class="modal-close-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <h1 class="modal-title">Welcome to the world of CoffeeJoy!</h1>
      <p class="modal-text">Fresh brews, special offers, and cozy updates are coming your way.</p>
    </div>

    <div class="modal-image-wrapper">
      <picture>
        <source srcset="./img/illustration-mob.jpg 1x, ./img/illustration-mob2.jpg 2x" media="(max-width: 767px)">
        <source srcset="./img/illustration-tab.jpg 1x, ./img/illustration-tab2x.jpg 2x" media="(max-width: 1440px)">

        <source srcset="./img/illustration.jpg 1x, ./img/illustration2x.jpg 2x" media="(min-width: 1158px)">
        <img class="modal-image" src="/img/illustration.jpg" alt="coffee" width="256" height="200">
      </picture>
      <img class="modal-image" src="/img/illustration.jpg" alt="coffee" width="256" height="200">
    </div>

    <button class="modal-btn" type="button">Close</button>
  </div>
</div>