<section id="welcome" class="section">
  <div class="container">
    <div class="welcome-container">
      <div class="welcome-title-wrapper">
        <p class="welcome-subtitle">Welcome</p>
        <h1 class="welcome-title">Our Journey: Passion for Quality Coffee</h1>
      </div>
      <div class="welcome-wrapper">
        <p class="welcome-text">At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the
          finest coffee experiences,
          crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to
          perfection,
          ensuring each sip is a delight.
        </p>
        <a class="welcome-btn" href="#location">Find location
          <svg class="welcome-btn-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="welcome-img-wrapper">
      <picture>
        <source srcset="/img/welcome-mob.jpg 1x, /img/welcome-mob2x.jpg 2x" media="(max-width: 767px)">
        <source srcset="/img/welcome-tab.jpg 1x, /img/welcome-tab2x.jpg 2x" media="(max-width: 1439px)">

        <source srcset="/img/welcome.jpg 1x, /img/welcome2x.jpg 2x" media="(min-width: 1440px)">
        <img class="welcome-img" src="../img/welcome.jpg" alt="welcome" width="1312" height="738">
      </picture>

    </div>
  </div>
</section>