body {
  font-family: 'Poppins', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

.section {
  padding-top: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}