/*FOOTER*/
/*.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer {
  margin: 0 auto;

}
.footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 72px;
}


.footer-logo {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}*/



/*.footer-wrapper {
    background-color: #0c0c0c;
    border-radius: 30px;
    margin-top: 60px;
    padding-top: 40px;
}*/

/*.footer-logo {
  display: inline-block;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
}

.footer-link {
  display: inline-block;
}

.footer-icon {
  fill: #fbfbfb;
}

.footer-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b58869;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.footer-wrapper {
  background-color: #c29d84;
  border-radius: 40px;
  padding: 32px 46px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  margin-bottom: 32px;

}

.footer-social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*max-width: 196px;*/
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer-link-logo {
  display: inline-block;
  width: 196px;
  height: 84px;
  margin-bottom: 40px;
  transition: opacity 250ms ease-in-out;
}

.footer-logo {
  width: 100%;
  height: auto;
  fill: #0B0803;
}

.footer-social-list {
  display: flex;
  gap: 12px;

}

.footer-social-item {
  width: 32px;
  height: 32px;
}

.footer-social-link {
  transition: opacity 250ms ease-in-out;
}

.footer-social-icon {
  fill: #0b0803;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

.footer-item {
  text-align: center;

  width: 100%;
}

.footer-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: opacity 250ms ease-in-out;

}

.footer-link-logo:hover,
.footer-link-logo:focus,
.footer-link:hover,
.footer-link:focus,
.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.5;
}

.footer-link,
.footer-link:active,
.footer-social-link:active {
  opacity: 0.7;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .footer-wrapper {

    padding-right: 124px;
    padding-left: 124px;
  }

  .footer-link-logo {
    width: 84px;
    height: 36px;
    margin: 0 40px 0 0;
  }

  .footer-list {
    flex-direction: row;
    justify-content: space-between;
    max-width: 456px;
  }

  .footer-item {
    text-align: start;
    width: auto;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 48px;
    padding-left: 48px;
    max-width: 1214px;

  }

  .footer-social-wrapper {
    margin: 0;
    justify-content: flex-start;

  }

  .footer-list {

    justify-content: flex-end;
    margin: 0;
    margin-left: auto;
  }

}

/*.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
   
justify-content: space-between;
}

.footer-list {
  margin-left: auto;
}
}

*/