/*FOOTER*/
/*.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer {
  margin: 0 auto;

}
.footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 72px;
}


.footer-logo {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}*/



/*.footer-wrapper {
    background-color: #0c0c0c;
    border-radius: 30px;
    margin-top: 60px;
    padding-top: 40px;
}*/

/*.footer-logo {
  display: inline-block;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
}

.footer-link {
  display: inline-block;
}

.footer-icon {
  fill: #fbfbfb;
}

.footer-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}*/

.footer {
  background-color: #b58869;
}

.footer-wrapper {
  background-color: #c29d84;
  border-radius: 40px;
}

.footer-link {
  display: block;
  margin-bottom: 40px;
}

.footer-logo {
  display: inline-block;
  fill: #0B0803;
}

.footer-social-list {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.footer-social-icon {
  fill: #0b0803;
}