/*
.header {
 
  padding: 20px 0;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav,
.social-list {
  display: none;
}

.logo {
  font-weight: 500;

  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  padding: 7px 0;
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  stroke: #0c0c0c;
}

.header-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;

}

.header-item {
  position: relative;
}

.header-link {
  display: block;
  padding: 4px 0 14px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
}

.current::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}



/*.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 128px;
}

.social-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}*/
.header {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link-logo {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.header-logo {
  fill: #0b0803;
}

.header-burger-btn {
  display: inline-block;

  background-color: transparent;
  width: 48px;
  height: 48px;
  padding: 12px;
}

.header-burger-icon {
  fill: #0b0803;
}

.nav {
  display: none;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }

  .nav {
    display: block;
  }

  /*.header-container {
    padding: 0 32px;
  }*/

  .header-list {
    display: flex;

    gap: 32px;
  }

  .header-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    opacity: 0.5;
  }

  .header-link:active {
    opacity: 0.7;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {}