/*PROMO*/
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  margin: 0 auto;
  padding: 108.5px 0;

}

@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero2x.jpg);
  }
}


.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 16px;

}

.hero-title {
  font-family: "Aboreto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;


}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 32px;

}

.hero-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;


  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  cursor: pointer;
  margin-right: auto;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.hero-btn:hover,
.hero-btn:focus {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 311.5px 0;

  }

  .hero-container {
    max-width: 560px;

  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .hero {
    padding-top: 259px;
    padding-bottom: 259px;
  }

  .hero-title {
    font-size: 56px;
  }
}