/*HERO*/

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 20px;
}

.hero-title-accent {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 28px;
}

.hero-list {
  display: flex;

}

.hero-item {
  border-radius: 2px solid #fbfbfb;
  width: 44px;
  height: 44px
}

.hero-item:not(:first-child) {
  margin-left: -12px;
}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.hero-img {
  display: block;
  width: 335px;
  border-radius: 30px;
}